body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 132vh;
  background-image: url('img/tft.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  max-width: 100%;
  
 
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .someElement {
  margin:1em
  } 
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav {
 
  display: flex;
  justify-content: flex-end;
  align-items: right;
  
  
  
  
}
.navbut {
  float: right;
  display: flex;
  justify-content: flex-end;

}
.main {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 50px;
  margin-top: 64px;
  margin-bottom: 20px;
  
}
/* .home {
  width: 100%;
} */
.each {
  background-color: darkturquoise;
  color: white;
  border: 2px solid gold;
  display: flex;
  margin: 0 auto;
  /* margin-left: 500px;
  margin-right: 500px; */
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  max-width: 70%;
  
  margin-bottom: 50px;
  border-radius: 25px;
  text-decoration: none;
  
 

}

.disc {
  color: white;
  text-align: center;
}

.first {
  display: flex;
  color: white;
  align-items: center;
  margin: 0 auto;
  
  
  justify-content: space-evenly;
  margin-bottom: 100px;
  max-width: 70%;
  flex-basis: auto;
}

p {
  margin: 40px;
  font-size: 25px;
  text-indent: 55px;
}

.jinx {
  width: 60%;
}

.second {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  color: white;
  align-items: center;
  
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.ahri {
  width: 35%;
}

